table {
    /* border: 2px solid gray; */
    border-collapse: collapse;
    width: 100%;
}

th {
    background-color: rgb(233, 229, 226);
    border-bottom: 1px solid rgb(243, 239, 239);
}
